.SE3_classify{
    width: 100%;
    	display:flex;
    background-color: #f5f5f5;
/*    height: 3400px; */  
    

}
.SE3_classify .BFC{
	display:flex;
	  width: 100%;
    background-color: #f5f5f5;
 /*    height: 8400px;  */
    position: relative;

}

.SE3_classify #BFCBOX .box{
	
    width: 1000px;
    height:100%;
    background: #fff;
    position: absolute;
    top:50px;
    left: 50%;
    margin-left:-500px;
   
}
.SE3_classify .box .classify-top>div{
    position: absolute;
    top: 20px;
    left: 20px;
    border-bottom: 0.8px rgb(234, 234, 234) dashed;
    width: 920px;
    padding-bottom: 10px;
    margin-top: 20px;
}
/* .SE3_classify .box .classify-top>div:last-child{
    top: 60px;
} */
.SE3_classify .box .classify-top>div ul li{
    float: left;
    list-style: none;
    margin: 0 10px;
}
.SE3_classify .box .classify-top>div ul.classify-list li:nth-child(2),.SE3_classify .box .classify-top>div ul.sort-list li:nth-child(2){
    margin-left:35px;
}

.SE3_classify .box .classify-top>div ul.classify-list li.itemType{
		 cursor: pointer;
}
.SE3_classify .box .classify-top>div ul.classify-list li.itemType:hover{
		        color:#d0c4af;
}

.SE3_classify .box .classify-main{
	
    position: relative;
    top: 130px;
    left: 0;
    width: 1000px;
/*      height: 2000px;  */ 
}
.SE3_classify .box .classify-main .classify-icon{
	
    width:150px;   
    margin: 0 auto;
}
.SE3_classify .box .classify-main .classify-icon span{
	margin-top:10px;
	display:inline-block;
	height:44px;
	line-height:44px;
    font-size: 22px;
    font-weight: bold;
}
.SE3_classify .box .classify-main .classify-icon p{
	 text-align: center;
}
.SE3_classify .box .classify-main .classify-icon img{
    margin-left: 12px;
}
.SE3_classify .box .classify-main .classify-items{

    margin: 40px auto;
    width: 1000px;
/*     height: 800px;  */
    display: flex;
    flex-wrap:wrap;

}
.SE3_classify .box .classify-main .classify-item{
    margin: 10px 15px;
    width: 220px;
    height: 320px;
}
.SE3_classify .box .classify-main .classify-item .image{
    overflow: hidden;
    background-color: #f5f5f5;
    border-bottom: 0.8px  rgb(234, 234, 234) dashed;
}
.SE3_classify .box .classify-main .classify-item .introduce{
    margin-top:10px;
    text-align: center;
}
.SE3_classify .box .classify-main .classify-item .introduce span{
        font-weight: bold;
}
.SE3_classify .box .classify-main .classify-item .introduce a{
        color:#333;
       text-decoration:none;
}
.SE3_classify .box .classify-main .classify-item .introduce a:hover{
        color:#d0c4af;
       text-decoration:none;
}
.SE3_classify .box .classify-main .classify-item .introduce>div.pri span{
    border-bottom: 0.8px  rgb(234, 234, 234) solid;
    padding: 2px 15px;
}
.SE3_classify .box .classify-main .classify-item .introduce>div{
    margin-bottom: 10px;
}
.SE3_classify .box .classify-main .classify-item .introduce p{
    font-size: 13px;
}
.SE3_tail{
	display:none;
	 position: relative;
	 bottom:0px;
}

.SE3_classify #BFCBOX .box.NosearchItem{
	 background: #fff url("../img/icon/nullCart.png") no-repeat center ;
	-webkit-background-size: 46%;
    background-size: 46%;
      background-position: 50% 0px; 
}
.SE3_classify #BFCBOX .box .noSearchItemTip{
	width:100%;
	height:200px;
	position:relative;
	top:50px;
	text-align:center;
	font-size:1.2em;
}