<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.CartDetailMapper">

	<resultMap type="cartDetail" id="cartDetailMap">
		<id column="cartID" property="cartID" />
		<result column="goodsCount" property="goodsCount" />
		<result column="totalPrice" property="totalPrice" />
	</resultMap>
	<resultMap type="cartDetail" id="cartDetailMap1" extends="cartDetailMap">
		<association property="good"
			column="{goodsID=goodsID},{goodsSpecify=goodsSpecify}" fetchType="lazy"
			select="Mapper.GoodsMapper.findBygoodsIDAndgoodsSpecify" />
	</resultMap>

	<select id="findBycartIDAndgoodsIDAndgoodsSpecify" resultMap="cartDetailMap1">
		select * from
		CartDetail where cartID = #{cartID} AND
		goodsID=#{goodsID} AND goodsSpecify=#{goodsSpecify}
	</select>

	<select id="isCartDetailExist" resultType="java.lang.Integer">
		select count(*) from
		CartDetail where cartID = #{cartID} AND
		goodsID=#{good.goodsID} AND
		goodsSpecify=#{good.goodsSpecify}
	</select>

	<select id="getAllDetailbycartID" resultMap="cartDetailMap1">
		select * from
		CartDetail where cartID = #{cartID}
	</select>

	<insert id="insert">
		insert into CartDetail values(#{cartID},
		#{good.goodsID},
		#{goodsCount}, #{totalPrice},#{good.goodsSpecify})
	</insert>
	<update id="update">
		update CartDetail set
		goodsCount=#{goodsCount},totalPrice=#{totalPrice} where
		cartID=#{cartID} AND goodsID=#{good.goodsID} AND
		goodsSpecify=#{good.goodsSpecify}
	</update>
	<delete id="delete">
		delete from CartDetail where cartID=#{cartID} AND
		goodsID=#{good.goodsID} AND goodsSpecify=#{good.goodsSpecify}
	</delete>
</mapper>