<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.EvaluatePictureMapper">

	<resultMap type="evaluatePicture" id="evaluatePictureMap">
		<id column="evaluateID" property="evaluateID" />
	</resultMap>

	<resultMap type="evaluatePicture" id="evaluatePictureMap1"
		extends="evaluatePictureMap">
		<association property="picture" column="{pictureID=pictureID}"
			fetchType="lazy" select="Mapper.PictureMapper.findBypictureID" />
	</resultMap>

	<select id="findByevaluateIDANDpictureID" resultMap="evaluatePictureMap1">
		select *
		from EvaluatePicture where evaluateID = #{evaluateID} AND
		pictureID=#{pictureID}
	</select>

	<select id="findEvaluatePictureByevaluateID" resultMap="evaluatePictureMap1">
		select *
		from EvaluatePicture where evaluateID = #{evaluateID}
	</select>


	<insert id="insert">
		insert into EvaluatePicture values(#{evaluateID},
		#{picture.pictureID})
	</insert>

	<delete id="delete">
		delete from EvaluatePicture where
		evaluateID=#{evaluateID} AND
		pictureID=#{pictureID}
	</delete>
</mapper>