<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.ManagerMapper">

	<resultMap type="manager" id="managerMap">
		<id column="managerID" property="managerID" />
		<result column="managerName" property="managerName" />
		<result column="managerPwd" property="managerPwd" />
	</resultMap>

	<select id="findBymanagerId" resultMap="managerMap">
		select * from Manager
		where managerId = #{id}
	</select>
	
	<select id="findBymanagerName" resultMap="managerMap">
		select * from Manager where managerName = #{0}
	</select>
	
	<insert id="insert" keyProperty="managerID" useGeneratedKeys="true">
		insert into Manager(managerName,managerPwd) values(#{managerName}, #{managerPwd})
	</insert>
	
	<update id="update">
		update Manager set managerName=#{managerName},
		managerPwd=#{managerPwd}
		where managerID=#{managerID}
	</update>
	<delete id="delete">
		delete from Manager where managerID=#{managerID}
	</delete>
</mapper>