<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.PictureMapper">

	<resultMap type="picture" id="pictureMap">
		<id column="goodsID" property="goodsID" />
		<id column="pictureID" property="pictureID" />
		<result column="picturePath" property="picturePath" />
	</resultMap>

	<select id="findBypictureID" resultMap="pictureMap">
		select * from Picture
		where pictureID= #{pictureID}
	</select>

	<select id="findGoodsAllPictures" resultMap="pictureMap">
		select *
		from Picture
		where goodsID = #{goodsID}
	</select>


	<insert id="insert" keyProperty="pictureID" useGeneratedKeys="true">
		insert into Picture(goodsID,picturePath) values(#{goodsID},
		#{picturePath})
	</insert>
	<update id="update">
		update Picture set picturePath=#{picturePath} where
		goodsID=#{goodsID} AND
		pictureID= #{pictureID}
	</update>
	<delete id="delete">
		delete from Picture where goodsID=#{goodsID} AND
		pictureID= #{pictureID}
	</delete>
	
	<delete id="deleteByGoodsID">
		delete from Picture where goodsID=#{goodsID}
	</delete>
</mapper>